/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "@fortawesome/fontawesome-free/scss/fontawesome"; */

 * {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  position: relative; 
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #008803;
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white; 
  text-decoration: none; 
}
header h1 {
  color: white;
  margin-left: 20px;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
}
.header-list li input[type="submit"] {
  border: none; /* ボーダーを削除 */
  background: none; /* 背景を透明にする */
  padding: 0; /* パディングを0にする */
  cursor: pointer; /* カーソルをポインターにする */
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

footer {
  color: white;
  height: 20px;
  background-color: #000;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer p {
  color: white;
  height: 20px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size : 8pt; /* フォントサイズ */
}
#scroll-to-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  background-color: #686868;
  border: none;
  border-radius: 50%;
  transform: rotate(-90deg);
  opacity: 0;
  transition-duration: 0.5s;
}  
